/* EventsAndHolidays.css */

/* Container */
.events-holidays-container {
  margin-top: 1rem;
}

/* Section Headers */
.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.section-title {
  font-weight: bold;
  color: #3A5FBE;
}

/* Scrollable List Container */
.scrollable-list {
  max-height: 500px;
  overflow-y: auto;
}

/* Card Styles */
.event-holiday-card {
  text-align: center;
  margin-bottom: 1rem;
  position: relative;
}

.card-title {
  color: #3A5FBE;
  margin-bottom: 0.5rem;
}

.card-divider {
  width: 100%;
  margin: 10px 0;
  opacity: 0.3;
}

/* Icons */
.event-icon {
  color: #3A5FBE;
  font-size: 2.5rem;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}

.holiday-icon {
  color: #3A5FBE;
  font-size: 1.5rem;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}

/* Content Container */
.card-content-center {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #3A5FBE;
}

.event-details,
.holiday-details {
  color: #3A5FBE;
}

.event-name,
.holiday-name {
  font-weight: bold;
}

/* Delete Button */
.delete-btn {
  color: #de1e1e;
  border-color:#de1e1e;
  position: absolute;
  top: 0;
  right: 0;
  margin: 0.5rem;
}

.delete-btn:hover {
  background-color: #ef4949;
  color: white;
}

.delete-icon {
  color:#de1e1e;
  font-weight: bold;
}

.delete-btn:hover .delete-icon {
  color: white;
}

/* Alert Messages */
.no-data-alert {
  text-align: center;
}
.edit-btn {
  position: absolute;
  top: 8px;
  right: 45px; /* delete च्या बाजूला */
  z-index: 2;
}
/* Responsive */
@media (max-width: 768px) {
  .scrollable-list {
    max-height: 400px;
  }
  
  .event-icon {
    font-size: 2rem;
  }
  
  .holiday-icon {
    font-size: 1.2rem;
  }
  
  .section-title {
    font-size: 1.1rem;
  }
}