.today-task-day {
  background: #f7f443 !important; 
  color: white !important;
  border-radius: 0 !important; 
  position: relative;
  box-shadow: inset 0 0 0 10px white;
}

.completed-task-day {
  background: #4caf50 !important;
  color: white !important;
  border-radius: 0 !important;
  position: relative;
  box-shadow: inset 0 0 0 10px white;
}

.delayed-task-day {
 background: #dc3545 !important;
  color: white !important;
  border-radius: 0 !important;
  position: relative;
  box-shadow: inset 0 0 0 10px white;
}

.upcoming-task-day {
  background: #2196f3 !important; 
  color: white !important;
  border-radius: 0 !important;
  position: relative;
  box-shadow: inset 0 0 0 10px white;
}

.today-day {
  background-color: #f7f443 !important; 
  color: #000 !important;
  border-radius: 0 !important; 
  position: relative;
  box-shadow: inset 0 0 0 10px white;
}

.legend-box {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 5px;
  border-radius: 3px;
}

.legend-box.today-task { background: #f7f443; }
.legend-box.completed { background: #4caf50; }
.legend-box.delayed { background: #dc3545; }
.legend-box.upcoming { background: #2196f3; } 

.calendar-container {
  margin-top: 0px;
}

.calendar-container .react-calendar .react-calendar__navigation {
  margin-bottom: 0px;
  height: 45px !important;
}

.react-calendar__tile {
  min-height: 5px !important;
  padding: 7px !important;
  border: none !important;
}

.react-calendar__month-view__days__day {
  min-height: 0 !important;
  border: none !important;
}

.react-calendar__month-view__days {
  display: grid !important;
  grid-template-columns: repeat(7, minmax(0, 1fr)) !important;
  justify-content: center !important;
  width: 100% !important;
  gap: 8px !important;
  padding: 0px !important;
}

.react-calendar {
  border: none !important;
  box-shadow: none !important;
  width: 100% !important;
  max-width: 700px;
  height: auto;
  font-size: 1.1rem;
  padding: 10px;
}

.react-calendar__tile abbr {
  height: 30px !important;
  width: 30px !important;
  line-height: 30px !important;
  display: inline-block;
}

.react-calendar__month-view__weekdays__weekday {
  font-size: 11px;
  color: #6c757d !important;
}

.today-task-day,
.completed-task-day,
.delayed-task-day,
.upcoming-task-day,
.today-day {
  cursor: pointer !important;
}

.today-task-day:hover,
.completed-task-day:hover,
.delayed-task-day:hover,
.upcoming-task-day:hover,
.today-day:hover {
  opacity: 0.9;
}

.upcoming-badge {
  background-color: #2196f3;
  color: white;
}

.badge {
  padding: 4px 8px;
  font-size: 12px;
  font-weight: 500;
  border-radius: 4px;
}

.no-task-icon {
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.1);
    opacity: 0.8;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

